.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}

#search-country{
    padding:12px;
    width:150px;
    border-radius:12px;
}

.dropbtn {
    color: black;
    border:solid 2px black;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #c9c9c9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}